.main-container {
    max-width: 980px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

.main-container ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 50px;
}

.main-container ul li {
    display: flex;
    flex-direction: column;
}

.main-container ul li img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}

.main-container ul li footer {
    flex: 1;
    background: #FFF;
    border: 1px solid #eee;
    padding: 15px 20px;
    text-align: left;
    border-radius: 0 0 5px 5px;
}

.main-container ul li footer strong {
    font-size: 16px;
    color: #333;
}

.main-container ul li footer p {
    font-size: 14px;
    line-height: 20px;
    color: #999;
    margin-top: 5px;
}

.main-container ul li .buttons {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.main-container ul li .buttons button {
    height: 50px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    border: 0;
    border-radius: 4px;
    background: #FFF;
    cursor: pointer;
}

.main-container ul li .buttons button:hover img {
    transform: translateY(-5px);
    transition: all 0.2s;
}

.main-container .empty {
    font-size: 32px;
    color: #999;
    font-weight: bold;
    margin-top: 300px;
}

.match-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.match-container .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #FFF;
    margin: 30px 0;
}

.match-container strong {
    font-size: 32px;
    color: #FFF;
}

.match-container p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
    max-width: 400;
    color: rgba(255, 255, 255, 0.8);
}

.match-container button {
    border: 0;
    background: none;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
}

/*
max-wight - largura máxima
margin: 0 auto - para centralizar a div principal p meio da tela
padding: 50px 0 - para não ficar agrudado a div principal tanto embaixo quanto encima
text-align: center - alinhar a logo e todo o resto da div no centro da tela
list-style: none - Tirar as bolinhas que ficam do lado esquerdo da div principal
display: grid - Alinhamento em grid dos desenvolvedores
grid-template-columns: repeat(3, 1fr) - Grid com 3 colunas do mesmo tamanho
grid-gap: 30px - para separar, colocar um espaço entre os desenvolvedores
margin-top: 50px - Para distanciar, (colocar um espaço) entre o grip e a logo no cabeçalho da página
display: flex - 
flex-direction: column - redimensiona a caixa box da (bio) conforme o tamanho do texto. Organizar em sentido vertical.
Flex: 1 - Alinhar caixa box de todos os desenvolvedores com o mesmo tamanho.
background - cor de fundo
border - tipo da borda
text-align - alinhamento do texto
border-radius - na parte de baixo do footer colocar espaço (1 - encima esquerda, 2 - encima direita, 3 - embaixo esquerda, 4 - embaixo direita)
font-size: 16px - Tamanho da fonte
color - cor
line-height - altura da linha
height - altura
box-shadow - Sombra da caixa
cursor: pointer - Para visualizar o cursor do mouse em formato de dedo
hover - quando cursor está sobre o botão
transform: translateY(-5px) - para a imagem do botão subir 5 pixels qdo mouse ficar sobre o botão
transition: all 0.2s - a velocidade de transição, do movimento da imagem p cima
*/